* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
label {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.noleft{
    padding-left: 0;
}

.noright{
    padding-right: 0;
}

.nopadding{
    padding: 0;
}

a {
    outline: medium none !important;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

button {
    transition: all 0.35s ease 0s;
}

button:focus {
    outline: 0px;
}

.header{
    position: fixed;
    width: 100%;
	top:0;
	left:0;
    transition: all 0.35s ease 0s;
    z-index: 2;
}

.header .navbar {
    border: none;
    margin-bottom: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

/*number box without arrow*/
.no_spin .form-control::-webkit-outer-spin-button,
.no_spin .form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no_spin .form-control[type=number] {
    -moz-appearance: textfield;
}
/*number box without arrow*/

.shadowblue {
    box-shadow: 0px 0px 10px 0px #94cbfd;
}

.shadowgrey {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.shadowhover:hover {
    box-shadow: 0px 0px 24px #6db8fd;
}

@import "./fonts.scss";
@import "./variables.scss";
@import "./animations.scss";