$gray-dark: #303030 !default;
$gray: #606060 !default;

$font-size-base: 10px !default; /* Assumes the browser default, typically `16px` */
$font-size-xl:   18px !default;
$font-size-lg:   16px !default;
$font-size-md:   14px !default;
$font-size-sm:   12px !default;

$font-weight-regular:       400 !default;
$font-weight-medium:        500 !default;
$font-weight-semi-bold:     600 !default;
$font-weight-bold:          700 !default;